::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
background:transparent;/*the non scroller space in the scrolling area*/
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom,transparent,#c600eb,transparent);/*scroller normally */
}
::-webkit-scrollbar-thumb:hover {
 background-image: linear-gradient(to bottom,rgba(198,0,235,0.5),#c600eb,rgba(198,0,235,0.5));/*scroller on hover */
}body
{
text-align: center;
}
.text
{
	height: fit-content;
	margin-left: 25%;
 	margin-right:25%;
 	font-family: 'VT323', monospace;
	font-size: 250%; 
	background-image: url('download.jpg');
	background-size: 100% 100%;
	border-radius:20px;
	box-shadow: 10px 10px 20px 1px rgba(255,255,255,0.5),inset 5px 5px 5px 2px rgba(255,255,255, 0.3),inset -5px -5px 5px 2px rgba(255,255,255, 0.3),inset 1px 1px 1px rgba(255,255,255,0.8),inset -1px -1px 1px rgba(255,255,255,0.8),inset -5px 5px 5px 2px rgba(255,255,255, 0.3),inset 5px -5px 5px 2px rgba(255,255,255, 0.3),inset -1px 1px 1px rgba(255,255,255,0.8),inset 1px -1px 1px rgba(255,255,255,0.8);
}
#underline/*since ths is called after portfolio.css this code will have affect after that hence property mentioned here will be overwritten 
in portfoilioabout*/
{ 	
	left:125px;

}
#text1
{

 	padding-top: 2%;

}
#text2
{ 	
	padding-top: 0.5%;
}
h1
{
	
	width: 99%;

}
#skills
{

left: 0%;
color: red;
width: 100%;
margin-bottom: 100px;
}
#skills  img
{
	height: 15em;
	filter: blur(5px);
	max-width: 200px;
	vertical-align: middle;
}
#skills img::selection
{}/*selection when selected {} does nothing not even blue highligter*/
#skills p
{
	display: inline;
	font-size: 250%;
	font-weight: bolder;
	color: transparent;
	width: 70px;
	background-size: 100% 100%;
	opacity: 50%;
	cursor: pointer;
}
#skills p::selection
{
}
#skills p:first-child
{
	position: relative;
	left: -10%;
	background-image: url(previous.png);

}

#skills p:last-child
{
	position: relative;
	right:-10%;
	background-image: url(next.png);

}
h1
{
	color: #fffacd;
	font-family: 'Comic Sans MS'
}
#arrow
{
	opacity: 0%;
	
}
.img-thumbnail
{
	margin:1em;
}

.form-control
{
	border-bottom: 3px solid green;
	animation-name: w;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}
#exampleInputPassword1
{
	animation-delay: 1.5s;
}
@keyframes w
{
	0%{	border-bottom: 3px solid purple;}
	25%{border-bottom: 3px solid orange;}
	50%{border-bottom: 3px solid blue;}
	75%{border-bottom: 3px solid green;}
}
