::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 10px 10px 10px #560056; 
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom,transparent,#c600eb,transparent);/*scroller normally */
}
::-webkit-scrollbar-thumb:hover {
 background-image: linear-gradient(to bottom,rgba(198,0,235,0.5),#c600eb,rgba(198,0,235,0.5));/*scroller on hover */
}
body
{
/*background: linear-gradient(90deg, rgba(8,21,129,1) 0%, rgba(167,6,133,1) 52%, rgba(195,11,91,1) 100%);*/
background: linear-gradient(270deg, #560056 ,#2e242c );
background-position: 90deg;
background-size: cover;
}
#my::selection,#menu a::selection,#menu span::selection,table::selection,tr::selection
{
}
/*dont even highlight on selected*/
#menu
{
	background-color:  transparent;
	height: 10%;
padding-top: 20px;
font-family: "Arial Rounded MT Bold",Arial;
word-spacing: 0px;
text-align: left;
padding-left: 5px;
}
#underline
{ 	
	position: absolute;
	top:70px;
	height: 2px;
	left:18px;
	width: 80px;
	transition: all 0.3s;
	background-color: #fdfbbd;
	box-shadow: 0 0 2px #fff, 0 0 3px #c600eb, 0 0 4px #c600eb, 0 0 5px #c600eb, 0 0 6px #c600eb, 0 0 7px #c600eb, 0 0 8px #c600eb;
	z-index: 3;
}
#menu a,#menu span
{
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: #fdfbbd;
	font-weight: 1;
	text-shadow:0 0 2px #fff, 0 0 3px #c600eb, 0 0 4px #c600eb, 0 0 5px #c600eb, 0 0 6px #c600eb, 0 0 7px #c600eb, 0 0 8px #c600eb;
	font-size: 30px;
	transition: text-shadow 0.3s ;
}
#menu a:hover
{
	text-shadow: 0 0 4px #fff, 0 0 5px #c600eb, 0 0 6px #c600eb, 0 0 7px #c600eb, 0 0 8px #c600eb, 0 0 9px #c600eb, 0 0 10px #c600eb;
}
#menu span:hover
{
	text-shadow: 0 0 4px #fff, 0 0 5px #c600eb, 0 0 6px #c600eb, 0 0 7px #c600eb, 0 0 8px #c600eb, 0 0 9px #c600eb, 0 0 10px #c600eb;
}
table
{
	position:absolute;
	top:50px;
	left: 330px;
	width: 110px;
	background-image:linear-gradient(to bottom,rgba(0,0,0,0) 10%,gray);
	display: inline-table;
	visibility: hidden;
	z-index: 2;
}
tr
{
	background-image:linear-gradient(to bottom,rgba(0,0,0,0) 20%,rgba(220,220,220,0.8));
	height: 60px;
	font-size: 20px;
	font-family: "Comic Sans MS",Arial;
	text-align: center;
}

tr td img
{
	border:0px solid white;
	border-radius: 2px;
	width: 50%;
}
#my
{
	position: fixed;
	top:13%;
	left:5%;
	width:35%;
	z-index: 1;
	transition: all 0.2s;
	background-size: cover;
	}
#m{
		animation-name: image;
		background-image: radial-gradient(transparent,transparent);
	animation-duration:1s;
	animation-iteration-count: infinite;

}
#intro
{
	
	position: fixed;
	top:30%;
	left:50%;
	width:50%;
}
#name
{
	position:relative;
	left:-30%;
	
	word-spacing: 15px;
	font-size: 50px;
	transition: left 1s ease;

}
#desc
{
	position: relative;
	left: -30%;
}

#paper2
{
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 1px;
	height: 1px;
	background-color: rgba(0,0,0,0);
	border-bottom: 50px solid rgba(255,255,255,1);
	border-left: 50px solid rgba(83,1,36,0.9);
	transition: all 0.3s ;
	text-align: right;
	font-size: 390px;
	box-shadow: -5px -5px 10px 5px rgba(0,0,0,0.5),inset -120px -396px red;
	z-index: -1;
}
#paper1
{
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 1px;
	height: 1px;
	background-color: rgba(0,0,0,0);
	border-bottom: 50px solid rgba(255,255,255,0);
	border-left: 50px solid rgba(83,1,36,1);
	transition: all 0.3s ;
	text-align: right;
	font-size: 390px;
	z-index: 1;
}

#p
{
	position: fixed;
	bottom:-15px;
	right:0px;
	font-size: 28px;
	color: red;
	z-index: 0;
}
@keyframes image
{
0%{background-image: radial-gradient(rgba(255,253,208,0.5),transparent,transparent,transparent);}
50%{background-image: radial-gradient(rgba(255,253,208,0.5),transparent,transparent);}

}
.smalltext
{
	display: flex;
	align-items:baseline;
	flex-direction: column;
	justify-content: center;
	background-image: url('back.png');
	background-size: cover;
	padding: 2em 0em 2em 0em;
}
#arrow
{
	position: fixed;
	bottom: 100px;
	right: 10px;
	fill:  #fdfbbd;
	stroke: #c600eb;
	stroke-width:1 ;
	animation-name: arr;
		background-image: radial-gradient(transparent,transparent);
	animation-duration:0.5s;
	animation-iteration-count: infinite;
	opacity: 100%;
	transition: opacity 0.5s;
}
@keyframes arr
{
	0%{bottom: 100px;}
	50%{bottom: 85px;}
}