::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
background:transparent;/*the non scroller space in the scrolling area*/
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom,transparent,#c600eb,transparent);/*scroller normally */
}
::-webkit-scrollbar-thumb:hover {
 background-image: linear-gradient(to bottom,rgba(198,0,235,0.5),#c600eb,rgba(198,0,235,0.5));/*scroller on hover */
}
#underline
{
	left: 227px;
}
.container .card
{
	background: transparent;
}
#works div,.container .no-gutters
{
background:transparent;
	background-image: linear-gradient(to right,rgba(0,0,0,0.3),rgba(255,255,255,0.2));

}
#works div 
{
	position: absolute;
	height: 70%;
	width: 80%;
/* 	padding:5% 0% 5% 0%; */
}
#works div   .img ,.container .card-img
{
	border: 10px double #fffacd;/*lemmonchiffon*/
	border-radius: 10px;
	margin:0% 5% 0% 5%;

}
#works div  .img
{
	height: 100%; /*of div*/
	vertical-align: baseline;
	display: inline;
	
}
#works div  .img::selection
{}
#works div:nth-child(1) 
{
 left: 10%;
 top: 20%;
}
#works div:nth-child(2)
{
	top: 110%;
	right: 10%;
}

#works div:nth-child(3)
{
	top: 200%;
	left: 10%;
}
#works div:last-child
{
	margin-bottom: 5%;
}
h1,h5
{
	color: white;
	font-size:50px;
	font-family: "Bauhaus 93",'Arial';
	text-decoration: underline;
	text-decoration-style: solid; 
	text-decoration-color: rgba(255,255,255,0.4);
}
h5
{
	font-size: 30px;
}
p
{
vertical-align: middle;
font-size:25px;
font-variant: petite-caps;
font-weight: 700;
color: #deb887;/*blurywood*/
font-family: "Lucida Fax",'Arial'

}
span
{
	color: #fffacd;
    font-family: monospace;
}
.container .col-md-4
{
	margin: 5% 0% 5% 0%;
}
.no-gutters>.col-md-4
{
	padding-right: 2%;
	padding-left: 2%;
}
h1,h5
{
	display: inline;
}
#menu{
padding-top: 10px;
padding-left: 0px;
}
